In [1]:
import pandas as pd

In [7]:
def color_df(val):
    color = "red" if val < 0 else 'green'
    return 'color : %s' % color

In [8]:
df = pd.DataFrame(dict(col_1=[1.53, 1-2.5, 3.5], col_2=[-4.1,5.9,0]))

In [9]:
df

   col_1  col_2
0   1.53   -4.1
1  -1.50    5.9
2   3.50    0.0

In [10]:
df.style.applymap(color_df)